html,
body {
    min-height: 100vh;
}



body {
    background-color: lightcyan;
}

.logo {
    cursor: pointer;
}

.btn-outline-danger{
    margin-left: 10px;
}

.btn-outline-warning{
    margin-left: 10px;
}


footer {
    margin-top: 3em;
    padding-top: 1em;
    border-top: 1px solid #ccc;
    padding-bottom: 2em;
    text-align: center;
    color: gray;
}
